@mixin border {
    border:lightskyblue dashed 2px;
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin scaleTransition {
    transition: all 0.2s ease-in;
    &:hover{
            transform: scale(1.1);;
    }
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin box-shadow-hover-after {
    box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
}

@mixin box-shadow-hover-before {
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
}
